html {
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: #ffc600;
}
h1 {
  text-align: center;
  color: white;
  font-size: 5em;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
}

.photobooth {
  background: white;
  max-width: 90%;
  margin: 2rem auto;
  border-radius: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.action-button {
  height: 50px;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.red {
  background-color: red;
  border-bottom: 5px solid maroon;
  text-shadow: 0px -2px maroon;
}

.yellow {
  background-color: gold;
  border-bottom: 5px solid goldenrod;
  text-shadow: 0px -2px goldenrod;
}

.blue {
  background-color: blue;
  border-bottom: 5px solid royalblue;
  text-shadow: 0px -2px royalblue;
}

.alphaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 24px;
  font-size: 20px;
}

.alphaContainer input {
  display: block;
  font-size: 20px;
  margin: 0 10px;
  text-align: center;
}

.rgb {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

.rgb label {
  width: 40%;
}

.rgb input {
  width: 40%;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 70%;
}

.player {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 15%;
}

/*
  Strip!
*/

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
